@media only screen and (max-width: 600px) {
    h3 {
        font-size: 0.7rem;
    }
    h2 {
        font-size: .9rem;
    }
    h4 {
        font-size: .4rem;
    }
    h5 {
        font-size: .3rem;
    }
    li {
        font-size: .75em; 
    }
    .responsiveWidth {
        width: 2rem;
    }
    .responsiveHeight {
        height: 2rem;
    }
    .introduction {
        height: 10rem;
    }
    .sectionDimension {
        height: 10rem;
    }
    /* .card-portfolio-link--style {
        color: white;
        font-size: .75rem;
        margin-left: 13%;
    }
    .card-title-style {
        font-size: 0.75rem;
        color: white;
    }
    .card-content-style {
        color: white;
        font-size: .5rem;
    } */
}
@media only screen and (max-width:992px) {
    .card-portfolio-link--style {
        color: white;
        font-size: .75rem;
        margin-left: 13%;
    }
    .card-title-style {
        font-size: 0.75rem;
        color: white;
    }
    .card-content-style {
        color: white;
        font-size: .5rem;
    }
}