@font-face {
    font-family: Charter;
    src: url('/assets/font/charterblackbt-webfont.woff');
}
body {
    background: #fafafa;
    font-family: Charter;
}
.header {
    display:flex;
    width: 100%;
    flex-direction: row 
}
.single-block {
    height: 100%;
    background: #E8C838
}
.name-block {
    display: flex;
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: center
}
.name-block-style {
    font-weight: 900;
    font-size: 2vw;
    color: #2B1A2D;
}
.navigation {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    height:10vw;
    background: #E8C838  
}
.navigation-sub-container {
    display: flex;
    width: 60%;
    height: 100%;
    background: #E8C838;
    align-items: center
}
.ul-style {
    display: flex;
    flex: 1;
    justify-content: space-around;
    padding: 0;
    margin: 0
}
.list-item-style {
    color: #2B1A2D;
    font-weight: bold;
    list-style-type: none
}
.introduction {
    display: flex;
    width: 100%;
    height: 30rem;
    justify-content: flex-end;
}
.introduction-container {
    display: flex;
    width: 50%;
    height: 100%;
    background: #2B1A2D;
    margin-right: 20%;
    justify-content: center;
    align-items: center
}
.introduction-sub-container {
    display:flex;
    flex-direction:column;
    justify-content:center;
    width: 80%;
    height: 80%;
    background: #2B1A2D;
}
.intro--contact-style {
    font-size: 2vw;
    color: #f3f3f3;
}
.intro--title-style {
    font-size: 3vw;
    font-style: italic;
    color: #f3f3f3;
}
.intro-description-style {
    color: #f3f3f3;
    font-weight: 900;
    font-size: 3vw;
}
.responsiveWidth {
    width: 3rem;
}
.responsiveHeight {
    height: 3rem;
}
.item {
    display: flex;
    background:blue;
}
.item--block-img {
    width: 60%;
    height: 100%;
    background: yellow;
}
.item--block-detail {
    width: 100%;
    height: 100%;
    background: orange;
}
.item-content-container {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: violet;
}
.top-container {
    margin-top: 10%;
    margin-left: 10%;
    width: 70%;
    height: 55%;
    background: yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bottom-container {
    width: 80%;
    height: 15%;
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectionDimension {
    height: 30rem;
    width: 100%;
}
.top-text-container {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    background: red;
}
.top-text-sub-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background: violet;
}
.about-me-container {
    align-self: flex-end;
    width: 70%;
    height: 90%;
    background: green;
}
.about-me-row {
    display: flex;
    justify-content: space-between;
    height: 50%;
    width: 100%;
    background: yellow;
}
.row-about-me-image {
    width: 30%;
    height: 90%;
    background: green;
}
.row-about-me-content {
    width: 60%;
    height: 90%;
    background: green;
}
.contact-section {
    height: 6rem;
    width: 100%;
    background: orange;
    display: flex;
    justify-content: flex-end;
}
.contact-section-container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin-right: 15%;
    width: 50%;
    height: 100%;
    background: red;
}
.footer-section {
    width: 100%;
    height: 5rem;
    background: pink; 
}
.enatega-logo {
    height: 31%;
    widows: 100%;
}
.rightContainer {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 0;
}
.leftContainer {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 0;
}
.card-portfolio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 186px;
    height: 100%;
}
.card-portfolio-content {
    margin-top: 10%;
    margin-left: 10%;
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.card-portfolio-link {
    display: flex;
    align-items: center;
    height: 15%;
    width: 80%;
    background: #2b1a2d;
}
.card-portfolio-link--style {
    color: #FBFBFB;
    font-size: 1.25rem;
    margin-left: 13%;
}
.card-title-style {
    font-size: 1.25rem;
    color: #FBFBFB;
}

.card-content-style {
    color: #FBFBFB;
    font-size: 1rem;
}
.gkhair--style {
    color: #2B1A2D;
}
.about-me-suitcase {
    max-width: 254px;
    max-height: 254px;
}
.marginBot80 {
    margin-bottom: 80px;
}
.about-me-title {
    color: #2C426C;
    font-weight: 900;
}
.about-me-link {
    margin-top: 20px;
    color: #2C426C
}
.pinkColor {
    color:#6C136B
}
.viewmorecaseStyle {
    color: #2C426C;
    font-size: 28px;
}
.heightContact {
    height: 15rem;
}