.marginBot3 {
    margin-bottom: 3%;
}
.img-responsive {
    width: 100%;
    height: 100%;
}
.content-align {
    display: flex;
    align-items: flex-end;
}
.vertical-items {
    flex-direction: column;
}
.marginTop3 {
    margin-top: 3%;
}
.marginLeft10 {
    margin-left: 10%
}